<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon copy.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download | AirSend - File Sharing For All </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- <img src="/img/mainlogo.jpg" alt="AirSend logo" class="logo"> -->

    <section class="download">
        <img class="download__icon" src="/img/mainlogo.jpg" alt="AirSend-download">

        <% if(locals.error){ %>
            <h4>
                <%= locals.error %> 😏
            </h4>
            <% } else { %>
                <h1>AirSend</h1>
                <h2>Download Your Shared File </h2>
                <div class="download__meta">
                    <h4>
                        <%= fileName %>
                    </h4>
                    <small>
                        <%= parseInt(fileSize/1000) %> KB
                    </small>
                </div>
                <p>Link expires in 24 hours</p>
                <div class="send-btn-container">
                    <a href="<%= downloadLink %>">Download file</a>
                </div>
                <% } %>
    </section>


</body>

</html>